.checkbox-ui {
	display: flex;
  width: fit-content;
	gap: 1.3rem;
	cursor: pointer;
	color: inherit;
	align-items: center;
}

.checkbox-ui:hover {
	opacity: 0.8;
}

.checkbox-input {
	appearance: none;
	position: relative;
	box-sizing: border-box;
	width: 2.8rem;
	height: 1.8rem;
	margin: 0;
	background-color: var(--progress-additional-color, #dee6ef);
	border-radius: 0.9rem;
	cursor: pointer;
}

.checkbox-input::after {
	content: '';
	position: absolute;
	box-sizing: border-box;
	margin: 0.15rem;
	height: 1.5rem;
	background-color: var(--progress-background-color, #fefefe);
	border-radius: 100%;
  aspect-ratio: 1/1;
	transform: translateX(0);
	transition: all 0.5s ease-out;
}

.checkbox-input:checked::after {
	transform: translateX(1rem);
}

.checkbox-input:checked {
	background-color: var(--progress-accent-color, #005cfe);
}

.checkbox-input:focus-visible {
	outline: 0.1rem solid var(--progress-accent-color, #005cfe);
	outline-offset: 0.05rem;
}

.checkbox-label {
	cursor: pointer;
  padding-top: 0.2rem;
}