@font-face {
  font-family: Poppins;
  src: url('./fonts/poppins-semibold-webfont.woff2') format('woff2');
  font-display: swap;
}

:root {
  font-family: Poppins, Arial, sans-serif;
  
  color-scheme: light dark;
  color: #000;
  background-color: #eef3f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}