.input-ui {
	display: flex;
  width: fit-content;
	gap: 1.3rem;
	cursor: pointer;
	color: inherit;
	align-items: center;
}

.input-ui:hover {
	opacity: 0.8;
}

.input {
	appearance: none;
	-moz-appearance: none;
  -webkit-appearance: none;
	border: 0.1rem solid currentColor;
	box-sizing: border-box;
	width: 2.8rem;
	height: 1.8rem;
	color: inherit;
	background-color: transparent;
	border-radius: 0.9rem;
	cursor: pointer;
	font-family: Poppins;
	text-align: center;
	font-size: 1rem;
	padding-top: 0.2rem;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
	appearance: none;
  -webkit-appearance: none;
}

.input:focus {
	outline: none;
	border-color: var(--progress-accent-color, #005cfe);
}

.input-label {
	cursor: pointer;
  padding-top: 0.2rem;
}